{{>navbar }}

<div class="projects container">
    {{!-- TODO fix repetition of project markup --}}
    <h1 class="cat">Projects</h1>
    {{#each projects}}
    {{#ifeq released true}}
    <div class="project">
        <h2 class="project-title">{{title}}</h1>
            <div class="subtitle">
                <span class="type">{{type}}</span>
                {{#if formattedDate}}
                <span class="release">{{formattedDate}}</span>
                {{/if}}
                {{#if url}}<a class="link" href={{url}}>Website</a>{{/if}}
            </div>
            {{#if image.secure_url}}
            <img src="{{image.secure_url}}" />
            {{/if}}
            {{#if description}}
            <div class="description">
                {{{description}}}
            </div>
            {{/if}}
    </div>
    {{/ifeq}}
    {{/each}}
    <h1 class="cat">Scripts<span class="slash"></span>Screenplays</h1>
    {{#each projects}}
    {{#ifeq released false}}
    <div class="project">
        <h2 class="project-title">{{title}}</h1>
            <div class="subtitle">
                <span class="type">{{type}}</span>
                {{#if formattedDate}}
                <span class="release">{{formattedDate}}</span>
                {{/if}}
                {{#if url}}<a class="link" href={{url}}>Website</a>{{/if}}
            </div>
            {{#if image.secure_url}}
            <img src="{{image.secure_url}}" />
            {{/if}}
            {{#if description}}
            <div class="description">
                {{{description}}}
            </div>
            {{/if}}
    </div>
    {{/ifeq}}
    {{/each}}
</div>