{{>navbar }}

<div class="writings container">
    {{#each writings}}
    <div class="writing">

        <h1 class="project-title">{{title}}</h1>
  

        <div class="subtitle">
                  {{#if publication }}
        <div class="publication-title">{{publication}}</div>
        {{/if}}
            <span class="type">{{type}}</span>
            {{#if formattedDate}}
            <span class="release">{{formattedDate}}</span>
            {{/if}}
            {{#if url}}<a class="link" href={{url}}>Website</a>{{/if}}
        </div>

        {{#if description}}
        <div class="description">
            {{{description}}}
        </div>
        {{/if}}
    </div>
    {{/each}}
</div>